@page
@model Netflox.Pages.Admin.Admin_GestionModel
@{
}
<link rel="stylesheet" href="/css/logout.css" />

<h1>Administration</h1>

<div class="d-flex flex-column col-12 mt-3">
    <a asp-page="Films/Index" class="btn col-2 btn-id mb-2">Gestion des films </a>
    <a asp-page="Profils/Index" class="btn col-2 btn-id">Gestion des profils</a>

</div>
