body {
    
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-align:center;
}

.button-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-style: none;
    color: #f3f3f3;
    font-family: 'Montserrat',sans-serif;
    font-size: 1.75em;
    font-weight: 500;
    background: #fd0000;
    width: 400px;
    height: 75px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2em;
}

.button-submit:hover {
    background: #000;
    color: #fd0000;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.6);
    transition: all 1s ease-in-out;
    text-decoration: none;
}

