@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<link rel="stylesheet" href="/css/logout.css" />
<header class="justify-content-center">
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>Vous êtes déconnecté de l'application</p>
            <a asp-page="/Account/Login" asp-area="Identity" class="btn btn-id text-center">S'identifier</a>

            
        }
    }
</header>
